#home {
    width: 100vw;
}

.container {
    width: 100%;
    min-height: 600px;
    max-width: 1500px;
    padding: 0 100px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background: #F1F7FD;
    margin:auto;
}

#home h1 {
    font-size: 3rem;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
}

#home .left {
    padding: 40px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

#home .right {
    padding: 40px;
    text-align: center;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.white-background {
    width: 100vw;
    background-color: #fff;
}

.intro {
    background-color: #fff;
    max-width: 800px;
    margin: auto;
    padding-top: 6rem;
    padding-bottom: 6rem;
}

.intro video {
    margin-bottom: 4rem;
}

.intro img {
    width: 100%;
    margin-bottom: 2rem;
}

.intro p {
    margin-bottom: 2rem;
}

.intro h2 {
    margin-bottom: 2rem;
    margin-top: 4rem;
    text-align: center;
}

.courses {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2rem;
    text-align: center;
    justify-content: center;
}

.courses img.blockchain {
    width: 150px;
}

.courses img.constellation {
    width: 125px;
}

.course {
    background-color: #0A2540;
    text-align: center;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    color: #fff;
    padding: 40px;
    border-radius: 10px;
}

.course h3 {
    font-size: 1rem;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    margin-bottom: 5px;
}